<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Todos</title>
</head>
<body>
    <div id="app">
        <h1>Todos</h1>
        <p>This is a todos REST API.</p>
        <h2>The following endpoints are available for use</h2>        
            <ol>
                <li>/users/signup <span>[POST]</span></li>
                <li>/users/verify <span>[POST]</span></li>
                <li>/users/signin <span>[POST]</span></li>
                <li>/users/forgot <span>[POST]</span></li>
                <li>/users/update-password <span>[PUT]</span></li>
                <li>/todos <span>[POST]</span></li>
                <li>/todos <span>[GET]</span></li>
                <li>/todos/{id} <span>[PUT]</span></li>
                <li>/todos/{id} <span>[GET]</span></li>
                <li>/todos/{id} <span>[DELETE]</span></li>
            </ol>
        <h3>This is for just whetting your appetite, for more information see the <a href="https://github.com/KabakiAntony/todos">readme on github</a></h3>
    </div>
</body>
</html>